<h1>بازیابی کلمه عبور</h1>

<p>لطفا جهت بازیابی کلمه عبور خود(در سایت مدافعین حرم) لینک زیر را ملاقات کنید:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>توجه داشته باشید اعتبار این لینک تنها دو ساعت است</p>

<p>
چنانچه شما درخواست بازیابی کلمه عبور نداده اید این ایمیل را نادیده بگیرید.باتشکر
</p>
