<% if controller.controller_name=='users' %>
  <% if @user.errors.any? %>
   <div id="error_explanation" align="left">
     <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<%else if controller.controller_name=='shahids' %>
  <% if @shahid.errors.any? %>
   <div id="error_explanation" align="left">
     <div class="alert alert-danger">
      The form contains <%= pluralize(@shahid.errors.count, "error") %>.
    </div>
    <ul>
    <% @shahid.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<% end %>
<% end %>
