<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>پایگاه مدافعین حرم </title>
		<!-- Bootstrap -->
		<link href="/welcome/css/bootstrap.min.css" rel="stylesheet">
		<link href="/welcome/css/styles.css?v=1.2" rel="stylesheet">
		<link href="/welcome/css/queries.css?v=1.2" rel="stylesheet">
		<link rel="stylesheet" href="/welcome/css/flexslider.css?v=1.2" type="text/css">
		<link rel="stylesheet" href="/welcome/css/animate.css" type="text/css">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="responsive-logo"></div>
					<div class="pullcontainer">
						<a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<nav>
							<div class="logo-holder"></div>
							<ul class="clearfix">
								<li><a href="#about">درباره ما</a></li>
								<li class="dot">.</li>
								<li><a href="#shoh" class="r_spacer">شهــــدا</a></li>
								<li><a href="#down">دانلود</a></li>
								<li class="dot">.</li>
								<li><a href="#add">افزودن شهید</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="hero"></div>
		</header>
		<div class="container-fluid intro" id="about">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="chain">عباس‌های زمان ما</h1>
					<p class="text-intro"> آن روزی که شهدای ما در جبهه های جنگ می گفتند نسیمی جان فزا می آید تمام شد. آن روزهایی که شهدا آرزوی یک لحظه زیارت کربلا را داشتند تمام شد. شهدای ما امروز در دفاع از خود حرم‌های شریفه شهید می شوند. نمیگویم این حرم این سنگ به ذات خود ارزشی دارد که مزدوران آمریکا بتوانند این سلفی نماهای مزدور را گول بزنند، بلکه می گویم شرف المکان بالمکین. یعنی ارزش این حرم‌ها که در طول تاریخ در دفاع از راه آنها (و نه تنها حرم) خون ها رفته است به اعتقادات انسان‌های بزرگی است که در آن آرمیده اند. 
این پایگاه آزمایشی سعی  دارد سنگ قبری مجازی باشد برای تمام عباس‌های زینب کبری (س) باشد که از ما راضی باشند و روزی در خون غلتیده به دیدارشان بشتابیم. </p>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 section-1 nopadding" id="shoh">
					<div class="logo-1 wp1"></div>
				</div>
				<div class="col-md-4 section-text nopadding">
					<div class="wp4">
						<h2 class="frame">پایگاه مشخصات شهدای مدافع حرم</h2>
						<p> دراینجا سعی کرده ایم صفحاتی برای شهدای اهل حرم در نظر بگیریم . با توجه به تازه بودن شهادت تعدادی از این عزیزان شایسته دیدیم تا مشخصاتی را که از آنها به یادگار مانده است مدون کنیم.
						برای ورد به پایگاه <a href="shohada/shahid1.html">اینجا</a>را کلیک کنید.
						</p>
						<div class="thin-sep"></div>
					</div>
					<div class="small-featured-img seat-red">
						<div class="arrow"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 section-text nopadding">
					<div class="wp5" id="down">
						<h2 class="mech">نوای دل</h2>
						<p>
						
						در این قسمت از سایت سعی داریم تا صوت و تصویرهای مرتبط را برای مخاطبان قرار دهیم. برای ورود به بخش دانلود 
						<a href="shohada/download.html">اینجا</a>
						را کلیک کنید.
						
						</p>
						<div class="thin-sep"></div>
					</div>
					<div class="small-featured-img seat-black">
						<div class="arrow"></div>
					</div>
				</div>
				<div class="col-md-8 section-2 nopadding">
					<div class="logo-2 wp2"></div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 section-3">
					<div class="logo-3 wp3"></div>
				</div>
				<div class="col-md-4 section-text nopadding">
					<div class="wp6" id="add">
						<h2 class="front-frame">افزودن شهید</h2>
						<p>. برای افزودن شهید لطفا مشخصات را همراه با یک عکس مناسب با اندازه ۶۰۰*۳۰۰ پیکسل برای ما به نشانی
						زیر ارسال نمایید. زنده نگاه داشتن یاد شهدا کمتر از شهادت نیست ...
</p>
<p>
abas.doran@gmail.com 
</p>
						<div class="thin-sep"></div>
					</div>
					<div class="small-featured-img frame-red">
						<div class="arrow"></div>
					</div>
				</div>
				<div class="col-md-4 section-4"></div>
			</div>
		</div>

					</div>
				</div>
			</div>

	</body>
</html>
